body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #fff;
}

.logo img {
    min-width: 240px;
    max-width: 40%;
    margin: 10px;
    margin-left: 40px;
    user-select: none;
}

/* 导航栏 */
.navbar {
    background: #025394;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}

.navbar ul li {
    position: relative;
    width: 150px;
    text-align: center;
}

.navbar ul li a {
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 5px;
    user-select: none;
}

.navbar ul li a:hover {
    background-color: #00bfff;
    color: #e0f2f1;
    transform: scale(1.05);
}

.navbar ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background: #cae6ff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar ul li:hover ul {
    display: block;
}

.navbar ul li ul li {
    display: block;
}

.navbar ul li ul li a {
    padding: 12px 20px;
    color: #000;
    font-weight: normal;
    border-bottom: 1px solid #00796b;
}

.navbar ul li ul li a:hover {
    background-color: #00bfff;
    color: #ffffff;
}

.navbar ul li ul li:last-child a {
    border-bottom: none;
}

@media (max-width: 600px) {
    .navbar ul {
         flex-direction: column; /* 在手机屏幕下改为垂直排列 */
     }
 
    .navbar ul li {
         width: 100%; /* 每个菜单项占满宽度 */
         width: 100vw;
     }
 
    .navbar ul li a {
         padding: 10px 15px; /* 减小链接的内边距 */
     }
 
    .navbar ul li ul {
         position: static; /* 子菜单相对自身定位 */
         width: 100%; /* 每个菜单项占满宽度 */
     }
 
    .navbar ul li ul li a {
         padding: 8px 12px; /* 减小子菜单链接内边距 */
     }
 }

/* 轮播图 */
.slider {
    height: 500px;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.left-button,
.right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}

/* Home content CSS */
.main-content {
    display: flex;
    background-color: #fff;
}

.left-column {
    width: 60%;
    height: 100%;
    margin-left: 50px;
}

.right-column {
    width: 40%;
    height: 100%;
    margin-right: 50px;
}

.title {
    display: flex;
    background-color: #025394;
    border: 1px solid #025394;
    height: 50px;
    color: #fff;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: '宋体';
    justify-content: space-between;
    align-items: center;
}

.title td {
    width: 1000px;
    padding: 10px;
    user-select: none;
}

.title a {
    color: #fff;
    text-decoration: none;
    text-align: right;
    margin-right: 10px;
    line-height: 50px;
}

.content {
    border: 1px solid #025394;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-family: '宋体';
    min-height: 250px;
    margin-bottom: 20px;
}

.content table {
    width: 100%;
}

.content td {
    width: 90%;
    line-height: normal;
    height: 1.2em;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 2px dashed #ccc;
    user-select: none;
}

.left-column .content img {
    width: 40%;
    padding: 5px;
    margin-right: 5px;
}

.content a {
    text-decoration: none;
    color: #000;
}

.content a:hover {
    text-decoration: underline;
    color: #025394;
}

@media only screen and (max-width: 900px) {
    .slider {
        height: 220px;
    }

    .main-content {
        flex-direction: column;
    }

    .left-column {
        width: 100%;
        margin-left: 0;
    }

    .right-column {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }

    .content td {
        max-width: 10ch;
    }

    .left-column .content img {
        width: 40%;
        max-height: 100px;
        padding: 5px;
        margin-right: 5px;
    }
}

/* footer CSS */
.footer {
    background-color: #025394;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.footer h3, img{
    user-select: none;
}

.footer-left {
    width: 100%;
    min-width: 750px;
    margin-left: 0;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
    .footer-left {
        min-width: 300px;
    }
}

.footer-left a {
    color: #007bff;
    text-decoration: none;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right {
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.footer-right h3 {
    text-align: left;
}

.footer-right.button-container {
    display: flex;
    justify-content: center;
}

.footer-right a {
    margin-top: 10px;
    margin-right: 10px;
}

.button-container {
    display: flex;
}

.circle-button {
    width: 40px;
    height: 40px;
    left: 10px;
    right: 20px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #003c6d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle-button:hover::after {
    content: "";
    position: absolute;
    top: -105px;
    left: -30px;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    animation: fadeIn 0.2s ease-in;
}

a[id='QQ'].circle-button:hover::after {
    background-image: url(Image/YuZhuohang_QQ.png);
}

a[id='WeChat'].circle-button:hover::after {
    background-image: url(Image/YuZhuohang_WeChat.png);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fa-qq {
    color: white;
    font-size: 30px;
}

.fa-weixin {
    color: white;
    font-size: 30px;
}

@media (min-width: 900px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-left {
        width: 50%;
        margin-left: 30px;
    }

    .footer-right {
        width: 40%;
        text-align: left;
        margin-top: 20px;
    }

    .footer-right h3 {
        text-align: left;
    }

    .footer-right a {
        margin-top: 25px;
        margin-right: 25px;
    }

    .circle-button {
        left: 170px;
        margin-left: 10px;
    }
}

/* Notification */
.Info_box {
    background-color: #ddd;
    padding: 50px;
    min-height: 400px;
    margin: auto;
}

.Info {
    background-color: #fff;
    margin: auto;
    padding: 40px;
    width: 80%;
    min-height: 300px;
}

.Info a {
    text-decoration: none;
    margin-right: 3px;
    color: #000;
    font-size: large;
}

.Info a:hover {
    color: #025394;
}

.Info_title {
    margin-top: 60px;
}

.Info_title h1 {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
}

.Info_title p {
    color: #666;
    text-align: center;
}

.Info_text {
    margin-top: 40px;
}

.Info_text p {
    text-indent: 2em;
    font-size: 22px;
    font-family: "Times New Roman", SimSun;
}

.Info button {
    width: 20%;
    margin: auto;
}

/* class */
.classbox {
    background-color: #ddd;
    padding: 50px;
    margin: auto;
}

.classbox h3 {
    user-select: none;
}

.class_information {
    width: 80%;
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.class_information table {
    border-collapse: collapse;
    width: 100%;
}

.class_information th,
.class_information td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.class_information th {
    background-color: #4CAF50;
    color: white;
}

.class_information .highlight {
    background-color: yellow;
}

.class_information .search-container {
    width: 20%;
    min-width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.class_information input[type="text"] {
    padding: 5px;
    border: none;
    flex: 1;
    border-radius: 3px;
    transition: box-shadow 0.3s;
    user-select: none;
}

.class_information input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.class_information button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}

.class_information button:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 900px) {
    .Info_title h1 {
        font-size: 24px;
    }

    .Info_title p {
        font-size: 12px;
    }

    .Info_text p {
        font-size: 16px;
    }

    .Info_text button {
        width: 50%;
    }

    .Info_box {
        padding: 40px;
    }

    .class_information {
        width: 90%;
    }

    .class_information th,
    .class_information td {
        padding: 2px;
        font-size: 10px;
    }

    .classbox {
        padding: 30px;
    }

    .class_information input,
    .class_information button {
        font-size: 10px;
    }
}

/* curriculum */
.course-container {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-container a {
    margin-right: 10px;
}

.category-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
    color: #007BFF;
    user-select: none;
}

.course-category {
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.category-icon {
    margin-right: 20px;
    color: #007BFF;
    font-size: 28px;
}

.category-title-small {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    user-select: none;
}

.course-link {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
    margin-left: auto;
    font-size: 16px;
}

.course-link:hover {
    text-decoration: underline;
    color: #9d00ff;
}

@media screen and (max-width: 768px) {
    .course-container {
        max-width: 90%;
        padding: 10px;
    }

    .category-title {
        font-size: 18px;
        margin-top: 20px;
    }

    .course-category {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    .category-icon {
        margin-right: 10px;
        font-size: 24px;
    }

    .category-title-small {
        font-size: 16px;
    }

    .course-link {
        font-size: 14px;
    }
}

/* map */
.map {
    width: 70%;
    margin: 40px auto;
    user-select: none;
}

.map img {
    width: 100%;
    margin: 10px auto;
    cursor: pointer;
    user-select: none;
}

.map iframe {
    border: 2px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    padding: 10px;
    margin: 10px auto;
    user-select: none;
}

@media (max-width: 900px) {
    .map iframe {
        height: 50vh;
        margin: 10px auto;
    }

    h1 {
        font-size: 18px;
    }
}

/* pop-uo window */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-body {
    margin-top: 15px;
    font-size: 18px;
    color: #34495e;
}

.popup-footer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.popup-close {
    padding: 12px 25px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #6c757d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.popup-close:hover {
    background-color: #566573;
}

#countdown {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    background-color: #e7ecef;
    border-radius: 5px;
}

#computer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


/* Back to Top */
#scrollTopButton {
    position: fixed;
    bottom: -60px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

#scrollTopButton img {
    width: 60px;
    height: 60px;
}

#scrollTopButton:hover {
    animation: rocket-hover 1s infinite;
}

@keyframes rocket-hover {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#scrollTopButton:active img {
    animation: rocket-launch 0.5s forwards;
}

@keyframes rocket-launch {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}